extends layout

block content
  h1= title
  p Bienvenidos a #{title}
  p A continuaci&oacute;n se listan las operaciones permitidas de la api:
  ul
    li [GET] /city
    li [GET] /city/id
    li [POST] /city
    li [PUT] /city/id